<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/public/cameraIcon.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
    <title>Shine - API</title>
</head>
<body>
    <div>
        <h1>Shine API</h1>
    </div>
</body>
</html>

<style>
    body {
        margin: 0;
    }
    div {
        height: 100vh;
        display: flex;
        background-color: #DBEAFE;
        justify-content: center;
        align-items: center;
    }
    h1 {
        color: #1D4ED8;
        font-family: 'Bungee Shade', cursive;
        font-size: xxx-large;
    }
</style>